AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
POOL=
REGION=eu-central-1
BACKUP_DIR=/backup/data
DAYS_TO_KEEP=14
TEAMS_WEBHOOK_URL=
UPTIME_ROBOT_URL=
SEND_NOTIFICATION_EMAIL=
MAIL_RECEIVER="alert@example.org"
MAIL_SENDER_INFO="backup webmaster <server@example.org>"
